In [14]:
import os
import zipfile
import requests
import pandas as pd

from sqlalchemy import create_engine
from sklearn.decomposition import PCA
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import Ridge, Lasso, ElasticNet
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

In [15]:
# import data from PGSQL
engine=create_engine('postgresql://all_user:.cvvbordirasf.us-east-1.rds.amazonaws.com:5432/capstone')

table_names=engine.table_names()
print (table_names)

['team_member', 'candidate_summary_join', 'census_bus_employee', 'census_social_0617', 'committee_linkage_join', 'master_join', 'master_join1', 'fec_summary', 'fec_operating_expenditure', 'cq_race', 'cq_candidates_race', 'census_soc', 'individual_contribution_join_abbreviated', 'master_join2', 'candidate_join_abbreviated', 'fec_committee', 'fec_candidate', 'test_join', 'investigate', 'cross_walk', 'fec_candidate_committee_linkage', 'fec_individual_contribution', 'cq_race_incumbent', 'fec_committee_to_candidate_contribution', 'fec_committee_to_committee_contribution', 'fec_committee_2012', 'fec_table_join', 'candidate_join', 'fec_join', 'individual_contribution_join', 'test_join_win']

In [16]:
con=engine.connect()
rs1=con.execute('SELECT * FROM master_join2')

master_join2 = pd.DataFrame(rs1.fetchall())
df = pd.DataFrame(master_join2)
master_join2.columns = rs1.keys()

con.close()

In [17]:
master_join2.head()

,race_uid,state,year,districtnumber,redistricteddate,totalvote,winingplurality,winningparty,incumbentwin,race_uid2,...,other_loans,cand_loan_repay,other_loan_repay,debts_owed_by,ttl_indiv_contrib,other_pol_cmte_contrib,pol_pty_contrib,cvg_end_dt,indiv_refunds,cmte_refunds
0,2014AKLarge,AK,2014,0,#N/A,279741,27970,R,Yes,2014AKLarge,...,0,0,0,0,140,0,300,11/19/2014,0,0
1,2012AKLarge,AK,2012,0,#N/A,289804,102369,R,Yes,2012AKLarge,...,0,0,0,13000,13818,1000,0,12/31/2012,0,0
2,2012AKLarge,AK,2012,0,#N/A,289804,102369,R,Yes,2012AKLarge,...,None,None,None,None,None,None,None,None,None,None
3,2014AKLarge,AK,2014,0,#N/A,279741,27970,R,Yes,2014AKLarge,...,0,0,0,0,233131.98,1000,3324.6,12/31/2014,0,0
4,2012AKLarge,AK,2012,0,#N/A,289804,102369,R,Yes,2012AKLarge,...,0,0,0,0,624494.86,374040.13,477.2,12/31/2012,3900,1000

In [18]:

master_join2.columns = ['race_uid', 'state', 'year', 'districtnumber', 'redistricteddate',
       'totalvote', 'winingplurality', 'winningparty', 'incumbentwin',
       'race_uid2', 'candidatename', 'incumbentstatus', 'candidateparty',
       'votenumberreceived', 'voteproportionreceived', 'cand_name', 'cand_id',
       'result', 'female', 'below20', '_20to44', '_45to64', '_65above',
       'medianage', 'white', 'black', 'americanindianandalaskanative', 'asian',
       'nativehawaiianandotherpacificislander', 'someotherrace',
       'twoormoreraces', 'hispanicorlatino', 'borninunitedstates',
       'unemploymentrate', 'meantraveltimetowork', 'agriculture',
       'construction', 'manufacturing', 'wholesaletrade', 'retailtrade',
       'transportation', 'information', 'finance', 'professional',
       'educational', 'arts', 'other', 'publicadministration',
       'occupiedhousingunits', 'vacanthousingunits', 'homeownervacancyrate',
       'rentalvacancyrate', 'movedin2015orlater', 'movedin2010to2014',
       'movedin2000to2009', 'house_median', 'rent_median',
       'medianhouseholdincome', 'meanhouseholdincome', 'poverty_families',
       'poverty_people', 'highschoolorhigher', 'bachelororhigher', 'cand_ici',
       'cand_status', 'cand_pcc', 'cand_st1', 'cand_st2', 'cand_city',
       'cand_st', 'cand_zip', 'n_of_committees', 'ttl_receipts',
       'trans_from_auth', 'coh_bop', 'coh_cop', 'cand_contrib', 'cand_loans',
       'other_loans', 'cand_loan_repay', 'other_loan_repay', 'debts_owed_by',
       'ttl_indiv_contrib', 'other_pol_cmte_contrib', 'pol_pty_contrib',
       'cvg_end_dt', 'indiv_refunds', 'cmte_refunds']

In [23]:
dataset=df[['incumbentstatus', 'candidateparty', 'medianage','white','black','asian','hispanicorlatino','unemploymentrate',
            'agriculture','manufacturing','finance','information','house_median','medianhouseholdincome','meanhouseholdincome','highschoolorhigher',
           'bachelororhigher','result'']]

SyntaxError: EOL while scanning string literal (<ipython-input-23-686bc9c7ce82>, line 3)

In [20]:
list(features)

['incumbentstatus',
 'candidateparty',
 'medianage',
 'white',
 'black',
 'asian',
 'hispanicorlatino',
 'unemploymentrate',
 'agriculture',
 'manufacturing',
 'finance',
 'information',
 'house_median',
 'medianhouseholdincome',
 'meanhouseholdincome',
 'highschoolorhigher',
 'bachelororhigher']

In [21]:
df.head()

,race_uid,state,year,districtnumber,redistricteddate,totalvote,winingplurality,winningparty,incumbentwin,race_uid2,...,other_loans,cand_loan_repay,other_loan_repay,debts_owed_by,ttl_indiv_contrib,other_pol_cmte_contrib,pol_pty_contrib,cvg_end_dt,indiv_refunds,cmte_refunds
0,2014AKLarge,AK,2014,0,#N/A,279741,27970,R,Yes,2014AKLarge,...,0,0,0,0,140,0,300,11/19/2014,0,0
1,2012AKLarge,AK,2012,0,#N/A,289804,102369,R,Yes,2012AKLarge,...,0,0,0,13000,13818,1000,0,12/31/2012,0,0
2,2012AKLarge,AK,2012,0,#N/A,289804,102369,R,Yes,2012AKLarge,...,None,None,None,None,None,None,None,None,None,None
3,2014AKLarge,AK,2014,0,#N/A,279741,27970,R,Yes,2014AKLarge,...,0,0,0,0,233131.98,1000,3324.6,12/31/2014,0,0
4,2012AKLarge,AK,2012,0,#N/A,289804,102369,R,Yes,2012AKLarge,...,0,0,0,0,624494.86,374040.13,477.2,12/31/2012,3900,1000

In [22]:
model = Lasso()
model.fit(features, target)
print(list(zip(features, model.coef_.tolist())))

ValueError: could not convert string to float: 'R'

In [ ]:
model = Ridge()
model.fit(features, labels)
print(list(zip(features, model.coef_.tolist())))

In [ ]:
model = ElasticNet(l1_ratio=0.10)
model.fit(features, labels)
print(list(zip(features, model.coef_.tolist())))

In [ ]:
model = Lasso()
sfm = SelectFromModel(model)
sfm.fit(features, labels)
print(list(features[sfm.get_support(indices=True)]))