In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('fec.csv')

In [4]:
df.head()

,Unnamed: 0,cand_id,result,cand_pty_affliation,cmte_id,amndt_ind,rpt_tp,transaction_pgi,entity_tp,name,state,transaction_dt,transaction_amt,sub_id
0,0,H4PA13124,1,DEM,C00389197,A,Q2,P,IND,"WOLF, WENDY C. ...",PA,4132011.0,250.0,4120120141231841188
1,1,H4PA13124,1,DEM,C00389197,A,Q2,P,IND,"WORTH, ROBERT R ...",NY,6302011.0,250.0,4120120141231841189
2,2,H4PA13124,1,DEM,C00389197,A,Q2,P,IND,"WORTH, ROBERT R ...",NY,6302011.0,250.0,4120120141231841189
3,3,H4PA13124,1,DEM,C00389197,A,Q2,P,IND,"WUKICH, ALEXIS ...",PA,6242011.0,250.0,4120120141231841190
4,4,H4PA13124,1,DEM,C00389197,A,Q2,P,IND,"WUKICH, ALEXIS ...",PA,6242011.0,250.0,4120120141231841190

In [5]:
df.tail()

,Unnamed: 0,cand_id,result,cand_pty_affliation,cmte_id,amndt_ind,rpt_tp,transaction_pgi,entity_tp,name,state,transaction_dt,transaction_amt,sub_id
2078606,2078606,H4PA13124,1,DEM,C00389197,A,Q2,P,IND,"WINKELMAN, MARC ...",TX,6302011.0,250.0,4120120141231841186
2078607,2078607,H4PA13124,1,DEM,C00389197,A,Q2,P,IND,"WINKELMAN, MARC ...",TX,6302011.0,250.0,4120120141231841186
2078608,2078608,H4PA13124,1,DEM,C00389197,A,Q2,P,IND,"WOLF, STEPHANIE ...",PA,6242011.0,2500.0,4120120141231841187
2078609,2078609,H4PA13124,1,DEM,C00389197,A,Q2,P,IND,"WOLF, STEPHANIE ...",PA,6242011.0,2500.0,4120120141231841187
2078610,2078610,H4PA13124,1,DEM,C00389197,A,Q2,P,IND,"WOLF, WENDY C. ...",PA,4132011.0,250.0,4120120141231841188

In [6]:
df = df.drop("cmte_id", axis = 1)

In [7]:
df = df.drop("amndt_ind", axis = 1)

In [8]:
df = df.drop("rpt_tp", axis = 1)

In [9]:
df.head()

,Unnamed: 0,cand_id,result,cand_pty_affliation,transaction_pgi,entity_tp,name,state,transaction_dt,transaction_amt,sub_id
0,0,H4PA13124,1,DEM,P,IND,"WOLF, WENDY C. ...",PA,4132011.0,250.0,4120120141231841188
1,1,H4PA13124,1,DEM,P,IND,"WORTH, ROBERT R ...",NY,6302011.0,250.0,4120120141231841189
2,2,H4PA13124,1,DEM,P,IND,"WORTH, ROBERT R ...",NY,6302011.0,250.0,4120120141231841189
3,3,H4PA13124,1,DEM,P,IND,"WUKICH, ALEXIS ...",PA,6242011.0,250.0,4120120141231841190
4,4,H4PA13124,1,DEM,P,IND,"WUKICH, ALEXIS ...",PA,6242011.0,250.0,4120120141231841190

In [10]:
df = df.drop("Unnamed: 0", axis = 1)

In [11]:
df.tail()

,cand_id,result,cand_pty_affliation,transaction_pgi,entity_tp,name,state,transaction_dt,transaction_amt,sub_id
2078606,H4PA13124,1,DEM,P,IND,"WINKELMAN, MARC ...",TX,6302011.0,250.0,4120120141231841186
2078607,H4PA13124,1,DEM,P,IND,"WINKELMAN, MARC ...",TX,6302011.0,250.0,4120120141231841186
2078608,H4PA13124,1,DEM,P,IND,"WOLF, STEPHANIE ...",PA,6242011.0,2500.0,4120120141231841187
2078609,H4PA13124,1,DEM,P,IND,"WOLF, STEPHANIE ...",PA,6242011.0,2500.0,4120120141231841187
2078610,H4PA13124,1,DEM,P,IND,"WOLF, WENDY C. ...",PA,4132011.0,250.0,4120120141231841188

In [12]:
df.transaction_pgi.unique()

array(['P    ', 'G    ', 'O    ', 'R    ', nan, 'C    ', 'S    ', 'E    ',
       '0    ', '2    '], dtype=object)

In [13]:
df.entity_tp.unique()

array(['IND', 'ORG', 'PAC', 'CAN', 'COM', 'CCM', 'PTY', nan], dtype=object)

In [14]:
df.transaction_amt.unique()

array([  250.,   500.,  1000., ...,  2771.,  1029.,  2029.])

In [15]:
df = df.loc[df['transaction_pgi'] == 'G    ']

In [16]:
df.head()

,cand_id,result,cand_pty_affliation,transaction_pgi,entity_tp,name,state,transaction_dt,transaction_amt,sub_id
169,H4PA13124,1,DEM,G,IND,"STOREY, BAYARD THAYER PH.D ...",PA,6092011.0,1000.0,4120120141231841159
170,H4PA13124,1,DEM,G,IND,"STOREY, BAYARD THAYER PH.D ...",PA,6092011.0,1000.0,4120120141231841159
179,H4PA13124,1,DEM,G,IND,"TORRES, GREGORY T. ...",MA,6102011.0,2500.0,4120120141231841165
180,H4PA13124,1,DEM,G,IND,"TORRES, GREGORY T. ...",MA,6102011.0,2500.0,4120120141231841165
265,H4PA13124,1,DEM,G,IND,"SILVERMAN, ALVIN ...",NY,6272011.0,2500.0,4120120141231841146

In [17]:
df.count()

cand_id                825944
result                 825944
cand_pty_affliation    825944
transaction_pgi        825944
entity_tp              825842
name                   825943
state                  825113
transaction_dt         825937
transaction_amt        825944
sub_id                 825944
dtype: int64

In [18]:
df.to_csv("fec_filtered.csv", sep=',')

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df_nodes = df.drop("result", axis = 1)

In [ ]:
df_nodes = df_nodes.drop("cand_pty_affliation", axis = 1)
df_nodes = df_nodes.drop("transaction_pgi", axis = 1)
df_nodes = df_nodes.drop("entity_tp", axis = 1)
df_nodes = df_nodes.drop("Unnamed: 0", axis = 1)
df_nodes = df_nodes.drop("state", axis = 1)
df_nodes = df_nodes.drop("transaction_dt", axis = 1)
df_nodes = df_nodes.drop("sub_id", axis = 1)

In [ ]:
df_nodes.head()

In [ ]:
df_nodes.to_csv("fec_nodes.csv", sep=',', index=False)