# Social Network Analysis - Exploratory Analysis and Visualizations

Overview of this notebook

## Getting the FEC Data

Part one - connect to the database, pull the relevant tables, store them untouched.

In [2]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd
import networkx as nx

In [ ]:
#Define connection. 
#engine=create_engine('postgresql://username:password@host:port/databasename)
engine=create_engine('postgresql://)

#review table names
table_names=engine.table_names()
print(table_names)

In [ ]:
df=pd.read_sql_query('SELECT * from individual_contribution_join_abbreviated', engine)
df2=pd.read_sql_query('SELECT * from candidate_join_abbreviated', engine)

In [ ]:
#Review individual contribution join table
type(df)
df.head()
df.tail()

In [ ]:
#Review candidate join abbreviated table
type(df2)
df2.head()
df2.tail()

In [ ]:
df.to_csv("fec.csv", sep=',')
df2.to_csv("CandidateKeys.csv", sep=',')

## Preparing the data for NetworkX

Continue working with the fec data (stored under df variable)

In [ ]:
df = df.drop("cmte_id", axis = 1)
df = df.drop("amndt_ind", axis = 1)
df = df.drop("rpt_tp", axis = 1)
df.head()

In [ ]:
df.transaction_pgi.unique()
df.entity_tp.unique()
df.transaction_amt.unique()

In [ ]:
df = df.loc[df['transaction_pgi'] == 'G    ']
df.head()

In [ ]:
df.count()

In [ ]:
df.to_csv("fec_filtered.csv", sep=',')

In [ ]:
df_nodes = df.drop("result", axis = 1)

In [ ]:
df_nodes = df_nodes.drop("state", axis = 1)
df_nodes = df_nodes.drop("sub_id", axis = 1)
df_nodes = df_nodes.drop("cand_pty_affliation", axis = 1)
df_nodes = df_nodes.drop("transaction_pgi", axis = 1)
df_nodes = df_nodes.drop("entity_tp", axis = 1)

In [ ]:
df_nodes.head()

In [ ]:
df_nodes.to_csv("fec_nodes.csv", sep=',', index=False)

## Ingesting data into NetworkX

In [3]:
df = pd.read_csv("fec_nodes.csv")
df.head()

,cand_id,name,transaction_dt,transaction_amt
0,H4PA13124,"STOREY, BAYARD THAYER PH.D ...",6092011.0,1000.0
1,H4PA13124,"STOREY, BAYARD THAYER PH.D ...",6092011.0,1000.0
2,H4PA13124,"TORRES, GREGORY T. ...",6102011.0,2500.0
3,H4PA13124,"TORRES, GREGORY T. ...",6102011.0,2500.0
4,H4PA13124,"SILVERMAN, ALVIN ...",6272011.0,2500.0

In [4]:
df['transaction_amt'] = df['transaction_amt'].astype('int')
df['cand_id'] = df['cand_id'].astype('str')
df['name'] = df['name'].astype('str')
df['transaction_dt'] = df['transaction_dt'].astype('str')

In [5]:
df.head()

,cand_id,name,transaction_dt,transaction_amt
0,H4PA13124,"STOREY, BAYARD THAYER PH.D ...",6092011.0,1000
1,H4PA13124,"STOREY, BAYARD THAYER PH.D ...",6092011.0,1000
2,H4PA13124,"TORRES, GREGORY T. ...",6102011.0,2500
3,H4PA13124,"TORRES, GREGORY T. ...",6102011.0,2500
4,H4PA13124,"SILVERMAN, ALVIN ...",6272011.0,2500

In [6]:
df['transaction_dt'] = df['transaction_dt'].str[3:]

In [7]:
df.head()

,cand_id,name,transaction_dt,transaction_amt
0,H4PA13124,"STOREY, BAYARD THAYER PH.D ...",2011.0,1000
1,H4PA13124,"STOREY, BAYARD THAYER PH.D ...",2011.0,1000
2,H4PA13124,"TORRES, GREGORY T. ...",2011.0,2500
3,H4PA13124,"TORRES, GREGORY T. ...",2011.0,2500
4,H4PA13124,"SILVERMAN, ALVIN ...",2011.0,2500

In [8]:
df['transaction_dt'] = df['transaction_dt'].str[:4]

In [9]:
df.head()

,cand_id,name,transaction_dt,transaction_amt
0,H4PA13124,"STOREY, BAYARD THAYER PH.D ...",2011,1000
1,H4PA13124,"STOREY, BAYARD THAYER PH.D ...",2011,1000
2,H4PA13124,"TORRES, GREGORY T. ...",2011,2500
3,H4PA13124,"TORRES, GREGORY T. ...",2011,2500
4,H4PA13124,"SILVERMAN, ALVIN ...",2011,2500

In [10]:
df.loc[df['transaction_dt'] == '2011', 'transaction_dt'] = '2012'

In [11]:
df.head()

,cand_id,name,transaction_dt,transaction_amt
0,H4PA13124,"STOREY, BAYARD THAYER PH.D ...",2012,1000
1,H4PA13124,"STOREY, BAYARD THAYER PH.D ...",2012,1000
2,H4PA13124,"TORRES, GREGORY T. ...",2012,2500
3,H4PA13124,"TORRES, GREGORY T. ...",2012,2500
4,H4PA13124,"SILVERMAN, ALVIN ...",2012,2500

In [12]:
df.loc[df['transaction_dt'] == '2013', 'transaction_dt'] = '2014'

In [13]:
df['cand_id'] = df['cand_id'] + df['transaction_dt']

In [14]:
df.head()

,cand_id,name,transaction_dt,transaction_amt
0,H4PA131242012,"STOREY, BAYARD THAYER PH.D ...",2012,1000
1,H4PA131242012,"STOREY, BAYARD THAYER PH.D ...",2012,1000
2,H4PA131242012,"TORRES, GREGORY T. ...",2012,2500
3,H4PA131242012,"TORRES, GREGORY T. ...",2012,2500
4,H4PA131242012,"SILVERMAN, ALVIN ...",2012,2500

In [17]:
df.transaction_dt.unique()

array(['2012', '2014'], dtype=object)

In [16]:
df = df[(df.transaction_dt == "2012") | (df.transaction_dt == "2014")]

In [18]:
df = df.drop("transaction_dt", axis = 1)

In [19]:
df.to_csv("fec_nodes_filtered_year.csv", sep=',', index=False)

In [20]:
df = pd.read_csv("fec_nodes_filtered_year.csv")

In [27]:
df['transaction_amt'] = df['transaction_amt'].astype('int')
df['cand_id'] = df['cand_id'].astype('str')
df['name'] = df['name'].astype('str')

In [28]:
weighted_nodes = (df.cand_id, df.name, df.transaction_amt)

In [29]:
g = nx.Graph()
i = 0
j = 0
k = 1
l = 2

for j in range(len(weighted_nodes[0])):
    g.add_edge(weighted_nodes[i][j], weighted_nodes[k][j], weight= weighted_nodes[l][j])
    j = j+1
    

print(nx.info(g))

Name:
Type: Graph
Number of nodes: 201210
Number of edges: 250907
Average degree:   2.4940

## Calculating Degree Centrality Score

In [30]:
dfcentrality = nx.degree_centrality(g)
dfcentrality = pd.DataFrame.from_records(dfcentrality, index= [0])
dfcentrality.head()

,"$13,300LOVELL, ELAINE",1150 AVIATION BLVD LLC,12TH CONGRESSIONAL DISTRICT REPUBLICAN COMMITTEE,5 L CATTLE LLC,5TH CONGRESSIONAL DISTRICT REPUBLICANS,"60TH STREET CORRIDOR, LP","?KS?Z, KEMAL","A'HERN, WILLIAM","A., KATHARINE","AAFEDT, CYNTHIA",...,"ZYONTZ, LARRY E.","ZYSKIND, BARRY","ZYSKIND, BARRY D","ZYSKIND, BARRY MR.","ZYSMAN, JOESEPH A.","ZYSMAN, JOSEPH A.","ZYSMAN, SIMON DR.","ZYSMAN, WARREN MR.","\GERARD, RANDY",nan
0,0.000005,0.000005,0.000005,0.000005,0.000005,0.000005,0.000005,0.000005,0.000005,0.00001,...,0.000005,0.00001,0.000005,0.000005,0.000005,0.000005,0.000005,0.000005,0.000005,0.000005

In [31]:
dfcentrality = dfcentrality.transpose()
dfcentrality.head()

                                                           0
$13,300LOVELL, ELAINE                          ...  0.000005
1150 AVIATION BLVD LLC                         ...  0.000005
12TH CONGRESSIONAL DISTRICT REPUBLICAN COMMITTE...  0.000005
5 L CATTLE LLC                                 ...  0.000005
5TH CONGRESSIONAL DISTRICT REPUBLICANS         ...  0.000005

In [32]:
dfcentrality.to_csv("nodecentrality.csv", sep=',')

In [33]:
dfcentrality = pd.read_csv("nodecentrality.csv")
dfcentrality.head()

                                          Unnamed: 0         0
0  $13,300LOVELL, ELAINE                         ...  0.000005
1  1150 AVIATION BLVD LLC                        ...  0.000005
2  12TH CONGRESSIONAL DISTRICT REPUBLICAN COMMITT...  0.000005
3  5 L CATTLE LLC                                ...  0.000005
4  5TH CONGRESSIONAL DISTRICT REPUBLICANS        ...  0.000005

In [34]:
dfcentrality.columns = ["cand_id", "degreecentrality"]
dfcentrality.head()

                                             cand_id  degreecentrality
0  $13,300LOVELL, ELAINE                         ...          0.000005
1  1150 AVIATION BLVD LLC                        ...          0.000005
2  12TH CONGRESSIONAL DISTRICT REPUBLICAN COMMITT...          0.000005
3  5 L CATTLE LLC                                ...          0.000005
4  5TH CONGRESSIONAL DISTRICT REPUBLICANS        ...          0.000005

## Creating an Attributes List for the Candidates Nodes

Will include cand id, actual name, party affiliation, incumbent status, race status, degree centrality score, and other info (repeat donor percentage?)

In [39]:
pd.read_csv('CandidateKeys.csv')

,Unnamed: 0,cand_id,cand_name,cand_pty_affliation,cand_election_yr,result
0,0,H0AL02087,"ROBY, MARTHA ...",REP,2014,1
1,1,H0AL02087,"ROBY, MARTHA ...",REP,2012,1
2,2,H0AL05163,"BROOKS, MO ...",REP,2014,1
3,3,H0AL05163,"BROOKS, MO ...",REP,2012,1
4,4,H0AL07086,"SEWELL, TERRYCINA ANDREA ...",DEM,2012,1
5,5,H0AL07086,"SEWELL, TERRI A. ...",DEM,2014,1
6,6,H0AL07177,"CHAMBERLAIN, DON ...",REP,2012,0
7,7,H0AL07177,"CHAMBERLAIN, DON ...",REP,2012,0
8,8,H0AR01083,"CRAWFORD, ERIC ALAN RICK ...",REP,2014,1
9,9,H0AR01083,"CRAWFORD, ERIC ALAN RICK ...",REP,2012,1
10,10,H0AR02107,"GRIFFIN, JOHN TIMOTHY ...",REP,2012,1
11,11,H0AR02107,"GRIFFIN, JOHN TIMOTHY ...",REP,2014,1
12,12,H0AR03055,"WOMACK, STEVE ...",REP,2014,1
13,13,H0AR03055,"WOMACK, STEVE ...",REP,2012,1
14,14,H0AZ01259,"GOSAR, PAUL ANTHONY ...",REP,2012,1
15,15,H0AZ01259,"GOSAR, PAUL ANTHONY ...",REP,2014,1
16,16,H0AZ01325,"TOBIN, ANDY HON. ...",REP,2014,0
17,17,H0AZ03248,"SCHARER, GENE PAUL ...",DEM,2012,0
18,18,H0AZ03321,"PARKER, VERNON ...",REP,2012,0
19,19,H0AZ03321,"PARKER, VERNON ...",REP,2014,0
20,20,H0AZ08056,"PATON, JONATHAN ...",REP,2012,0
21,21,H0AZ08056,"PATON, JONATHAN ...",REP,2012,0
22,22,H0CA02138,"REED, JAMES E ...",DEM,2012,0
23,23,H0CA02138,"REED, JAMES E ...",DEM,2012,0
24,24,H0CA03078,"BERA, AMERISH ...",DEM,2012,1
25,25,H0CA03078,"BERA, AMERISH ...",DEM,2014,1
26,26,H0CA06121,"ROBERTS, DANIEL ...",REP,2012,0
27,27,H0CA06121,"ROBERTS, DANIEL ...",REP,2012,0
28,28,H0CA08069,"DENNIS, JOHN ...",REP,2012,0
29,29,H0CA08069,"DENNIS, JOHN ...",REP,2014,0
...,...,...,...,...,...,...
2529,2529,H8TX20127,"MONTOYA, MARCO ...",DEM,2014,0
2530,2530,H8TX21125,"BLUNT, JEFFREY C. ...",LIB,2012,0
2531,2531,H8TX21125,"BLUNT, JEFFREY C. ...",LIB,2014,0
2532,2532,H8TX22107,"OLSON, PETER G ...",REP,2012,1
2533,2533,H8TX22107,"OLSON, PETER G. ...",REP,2014,1
2534,2534,H8TX22149,"ROWLEY, RYAN EDWARD ...",LIB,2014,0
2535,2535,H8TX22180,"WIEDER, JOHN ...",LIB,2012,0
2536,2536,H8TX22180,"WIEDER, JOHN ...",LIB,2014,0
2537,2537,H8TX28203,"LEONE, ROSS LYNN ...",LIB,2014,0
2538,2538,H8TX28203,"LEONE, ROSS LYNN ...",LIB,2012,0
2539,2539,H8UT03089,"CHAFFETZ, JASON ...",REP,2014,1
2540,2540,H8UT03089,"CHAFFETZ, JASON ...",REP,2012,1
2541,2541,H8VA01147,"WITTMAN, ROBERT J ...",REP,2014,1
2542,2542,H8VA01147,"WITTMAN, ROB ...",REP,2012,1
2543,2543,H8VA11062,"CONNOLLY, GERALD EDWARD ...",DEM,2014,1
2544,2544,H8VA11062,"CONNOLLY, GERRY ...",DEM,2012,1
2545,2545,H8VT00141,"ERICSON, CRIS ...",IND,2014,0
2546,2546,H8WA07132,"MCDERMOTT, JAMES ...",DEM,2014,1
2547,2547,H8WA07132,"MCDERMOTT, JAMES ...",DEM,2012,1
2548,2548,H8WA09047,"POSTMA, JAMES LEE ...",REP,2012,0
2549,2549,H8WA09047,"POSTMA, JAMES LEE ...",REP,2012,0
2550,2550,H8WI01024,"RYAN, PAUL D ...",REP,2014,1
2551,2551,H8WI01024,"RYAN, PAUL D. ...",REP,2012,1
2552,2552,H8WI02121,"THERON, DANIEL PETER ...",REP,2014,0
2553,2553,H8WI02121,"THERON, DANIEL PETER ...",REP,2010,0
2554,2554,H8WI05124,"RAYMOND, ROBERT R. ...",IND,2012,0
2555,2555,H8WI09050,"SENSENBRENNER, F. JAMES JR. ...",REP,2014,1
2556,2556,H8WI09050,"SENSENBRENNER, F JAMES JR ...",REP,2012,1
2557,2557,H8WY00148,"LUMMIS, CYNTHIA MARIE ...",REP,2014,1
2558,2558,H8WY00148,"LUMMIS, CYNTHIA MARIE ...",REP,2012,1

In [40]:
df = pd.read_csv('CandidateKeys.csv')

In [42]:
df['cand_id'] = df['cand_id'].astype('str')
df['cand_election_yr'] = df['cand_election_yr'].astype('str')
df['cand_id'] = df['cand_id'] + df['cand_election_yr']

In [43]:
df.head()

,Unnamed: 0,cand_id,cand_name,cand_pty_affliation,cand_election_yr,result
0,0,H0AL020872014,"ROBY, MARTHA ...",REP,2014,1
1,1,H0AL020872012,"ROBY, MARTHA ...",REP,2012,1
2,2,H0AL051632014,"BROOKS, MO ...",REP,2014,1
3,3,H0AL051632012,"BROOKS, MO ...",REP,2012,1
4,4,H0AL070862012,"SEWELL, TERRYCINA ANDREA ...",DEM,2012,1

In [44]:
df = df.drop("Unnamed: 0", axis = 1)
df = df.drop("cand_election_yr", axis = 1)

In [45]:
df.head()

,cand_id,cand_name,cand_pty_affliation,result
0,H0AL020872014,"ROBY, MARTHA ...",REP,1
1,H0AL020872012,"ROBY, MARTHA ...",REP,1
2,H0AL051632014,"BROOKS, MO ...",REP,1
3,H0AL051632012,"BROOKS, MO ...",REP,1
4,H0AL070862012,"SEWELL, TERRYCINA ANDREA ...",DEM,1

In [46]:
df.to_csv("CandidateKeysClean.csv", sep=',')

In [47]:
dfnodeattributes = df

In [48]:
dfnodeattributes.sort(['cand_id'], ascending=False)
dfnodeattributes = dfnodeattributes.drop_duplicates()
dfnodeattributes_centrality = pd.merge(dfnodeattributes, dfcentrality, how='left', on=['cand_id'])
dfnodeattributes_centrality.head(15)

C:\Users\Sarah\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,cand_id,cand_name,cand_pty_affliation,result,degreecentrality
0,H0AL020872014,"ROBY, MARTHA ...",REP,1,0.000601
1,H0AL020872012,"ROBY, MARTHA ...",REP,1,0.000581
2,H0AL051632014,"BROOKS, MO ...",REP,1,0.000114
3,H0AL051632012,"BROOKS, MO ...",REP,1,0.000810
4,H0AL070862012,"SEWELL, TERRYCINA ANDREA ...",DEM,1,0.000557
5,H0AL070862014,"SEWELL, TERRI A. ...",DEM,1,0.000214
6,H0AL071772012,"CHAMBERLAIN, DON ...",REP,0,0.000025
7,H0AR010832014,"CRAWFORD, ERIC ALAN RICK ...",REP,1,0.000696
8,H0AR010832012,"CRAWFORD, ERIC ALAN RICK ...",REP,1,0.001342
9,H0AR021072012,"GRIFFIN, JOHN TIMOTHY ...",REP,1,0.001163
10,H0AR021072014,"GRIFFIN, JOHN TIMOTHY ...",REP,1,0.000134
11,H0AR030552014,"WOMACK, STEVE ...",REP,1,0.000850
12,H0AR030552012,"WOMACK, STEVE ...",REP,1,0.001183
13,H0AZ012592012,"GOSAR, PAUL ANTHONY ...",REP,1,0.000189
14,H0AZ012592014,"GOSAR, PAUL ANTHONY ...",REP,1,0.000050

In [49]:
dfnodeattributes_centrality.to_csv("NodeAttributesCentrality.csv", sep = ",")

## Add other characteristics

#incumbent status
#percentage of repeat donors
#number of donors that maxed out.

In [ ]:
#percentage of repeat donors

dftypes = df.groupby('cand_id')['name'].nunique()

print(dftypes)

## Visualizations