# Getting the Data

In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [ ]:

#Define connection. 
#engine=create_engine('postgresql://username:password@host:port/databasename)
engine=create_engine('postgresql://all_user:GTroom222@mydatabase.cvvbordirasf.us-east-1.rds.amazonaws.com:5432/capstone')

#review table names
table_names=engine.table_names()
print(table_names)

In [ ]:
df=pd.read_sql_query('SELECT * from individual_contribution_join_abbreviated', engine)

In [ ]:
df.head()

In [ ]:
df = df.drop("cmte_id", axis = 1)
df = df.drop("amndt_ind", axis = 1)
df = df.drop("rpt_tp", axis = 1)
df = df.drop("result", axis = 1)
df = df.drop("cand_pty_affliation", axis = 1)
df = df.drop("transaction_pgi", axis = 1)
df = df.drop("entity_tp", axis = 1)
df = df.drop("name", axis = 1)
df = df.drop("sub_id", axis = 1)

df.head()

In [ ]:
df.to_csv('fecindividual.csv', sep = ",", index = False)

## Cleaning the Data

### Before starting, look over the data to trim it down to what you care about - 2012, 2014 cycles, only positive donations.

In [115]:
df = pd.read_csv('fecindividual.csv')

In [116]:
df.head()

     cand_id state  transaction_dt  transaction_amt
0  H4PA13124    PA       4132011.0            250.0
1  H4PA13124    NY       6302011.0            250.0
2  H4PA13124    NY       6302011.0            250.0
3  H4PA13124    PA       6242011.0            250.0
4  H4PA13124    PA       6242011.0            250.0

In [117]:
df['transaction_amt'] = df['transaction_amt'].astype('int')
df['cand_id'] = df['cand_id'].astype('str')
df['state'] = df['state'].astype('str')
df['transaction_dt'] = df['transaction_dt'].astype('str')

In [118]:
df['transaction_dt'] = df['transaction_dt'].str[3:7]

In [105]:
df.head()

     cand_id state transaction_dt  transaction_amt
0  H4PA13124    PA           2011              250
1  H4PA13124    NY           2011              250
2  H4PA13124    NY           2011              250
3  H4PA13124    PA           2011              250
4  H4PA13124    PA           2011              250

In [119]:
df.loc[df['transaction_dt'] == '2013', 'transaction_dt'] = '2014'

In [120]:
df.head()

     cand_id state transaction_dt  transaction_amt
0  H4PA13124    PA           2011              250
1  H4PA13124    NY           2011              250
2  H4PA13124    NY           2011              250
3  H4PA13124    PA           2011              250
4  H4PA13124    PA           2011              250

In [121]:
df = df[(df.transaction_dt == "2014")]

In [122]:
df = df[df['transaction_amt']> 0]

In [123]:
df.head()

          cand_id state transaction_dt  transaction_amt
991273  H0NY25078    NY           2014             1000
991274  H0NY25078    NY           2014             1000
991275  H0NY25078    NY           2014             1000
991276  H0NY25078    NY           2014             1000
991277  H0NY25078    NY           2014             1000

In [124]:
df.to_csv('donationsclean.csv', sep = ',', index = False)

### First, look for the size of donations given to congressional elections by state of the donor

In [127]:
df = df.drop("cand_id", axis = 1)
df = df.drop("transaction_dt", axis = 1)

In [128]:
df.head()

       state  transaction_amt
991273    NY             1000
991274    NY             1000
991275    NY             1000
991276    NY             1000
991277    NY             1000

In [129]:
dfgroup = df.groupby(['state']).transaction_amt.sum()

In [130]:
dfgroup.head()

state
AE       1000
AK     443337
AL    5546813
AP       1000
AR    8297672
Name: transaction_amt, dtype: int32

In [131]:
dfgroup.to_csv("DonationsByDonorState.csv", sep = ',')

In [132]:
dfgroup = pd.read_csv("DonationsByDonorState.csv")

In [133]:
dfgroup.head()

   AE     1000
0  AK   443337
1  AL  5546813
2  AP     1000
3  AR  8297672
4  AS    13200

In [70]:
df = pd.read_csv("donationsclean.csv")

In [71]:
df.head()

     cand_id state  transaction_dt  transaction_amt
0  H4PA13124    PA            2012              250
1  H4PA13124    NY            2012              250
2  H4PA13124    NY            2012              250
3  H4PA13124    PA            2012              250
4  H4PA13124    PA            2012              250

In [72]:
df['cand_id'] = df['cand_id'].str[2:4]

In [73]:
df.head()

  cand_id state  transaction_dt  transaction_amt
0      PA    PA            2012              250
1      PA    NY            2012              250
2      PA    NY            2012              250
3      PA    PA            2012              250
4      PA    PA            2012              250

In [74]:
df = df.drop("state", axis = 1)

In [75]:
df.to_csv("DonationsByRaceState.csv", sep = ',', index = False)

In [76]:
df.head()

  cand_id  transaction_dt  transaction_amt
0      PA            2012              250
1      PA            2012              250
2      PA            2012              250
3      PA            2012              250
4      PA            2012              250

In [77]:
df = df.drop("transaction_dt", axis = 1)

In [78]:
dfgroup = df.groupby(['cand_id']).transaction_amt.sum()

In [79]:
dfgroup.head()

cand_id
AK      1509606
AL     11153371
AR     23963066
AZ     36219210
CA    170916288
Name: transaction_amt, dtype: int64

In [80]:
dfgroup.to_csv("DonationsByRaceState.csv", sep = ',')

In [63]:
dfgroup.min()

575550

In [64]:
dfgroup.max()

170916288

In [65]:
dfgroup.columns = ["State", "SpentInRace"]

In [66]:
dfgroup.head()

cand_id
AK      1509606
AL     11153371
AR     23963066
AZ     36219210
CA    170916288
Name: transaction_amt, dtype: int64

In [134]:
df = pd.read_csv("DonationsByRaceState.csv")

In [135]:
df.head()

   AK    1509606
0  AL   11153371
1  AR   23963066
2  AZ   36219210
3  CA  170916288
4  CO   40891704

In [136]:
import plotly.plotly as py
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import pandas as pd

init_notebook_mode(connected=True)

In [137]:
for col in df.columns:
    df[col] = df[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]


df['text'] = df['AK'] + '<br>' +\
    'Amount Donated '+df['1509606']

    
    
data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df['AK'],
        z = df['1509606'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Dollars Donated")
        ) ]

layout = dict(
        title = '2011 US Agriculture Exports by State<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
iplot(fig)