# Visualizations

This notebooks walks through the process for generating cholopleths of the United States, to geographically visualize campaign finance information.

## Getting the Data

For these visualizations, we want to sets of data: state of candidate running for election, and donation amount; and then state of the donor, and donation amount.

In order to end up with these two tables, we first need to pull the appropriate data from the database. Then we can drop the fields we will not need, to lessen the size of the data.

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import plotly.plotly as py
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import pandas as pd

In [2]:
#Define connection. 
#engine=create_engine('postgresql://username:password@host:port/databasename)
engine=create_engine('postgresql://')

#review table names
table_names=engine.table_names()
print(table_names)

['team_member', 'candidate_summary_join', 'census_bus_employee', 'census_social_0617', 'committee_linkage_join', 'master_join', 'master_join1', 'fec_summary', 'fec_operating_expenditure', 'cq_candidates_race', 'census_soc', 'cq_race', 'individual_contribution_join_abbreviated', 'master_join2', 'candidate_join_abbreviated', 'fec_committee', 'social_win', 'fec_candidate', 'test_join', 'investigate', 'cross_walk', 'fec_candidate_committee_linkage', 'fec_individual_contribution', 'cq_race_incumbent', 'fec_committee_to_candidate_contribution', 'fec_committee_to_committee_contribution', 'fec_committee_2012', 'fec_table_join', 'candidate_join', 'fec_join', 'individual_contribution_join', 'test_join_win']

In [ ]:
df=pd.read_sql_query('SELECT * from individual_contribution_join_abbreviated', engine)

In [ ]:
df.head()

In [ ]:
df = df.drop("cmte_id", axis = 1)
df = df.drop("amndt_ind", axis = 1)
df = df.drop("rpt_tp", axis = 1)
df = df.drop("result", axis = 1)
df = df.drop("cand_pty_affliation", axis = 1)
df = df.drop("transaction_pgi", axis = 1)
df = df.drop("entity_tp", axis = 1)
df = df.drop("name", axis = 1)
df = df.drop("sub_id", axis = 1)

df.head()

In [ ]:
df.to_csv('fecindividual.csv', sep = ",", index = False)

## Cleaning the Data

To get the data properly formatted, we will need substantial cleaning and wrangling of the data:
-	Filter to only 2014 campaign cycle donations
-	Identify the state of the candidate (based on the cand_id)
-	Sum all the donations together that are associated with the same state.

In [3]:
df = pd.read_csv('fecindividual.csv')

In [4]:
df.head()

     cand_id state  transaction_dt  transaction_amt
0  H4PA13124    PA       4132011.0            250.0
1  H4PA13124    NY       6302011.0            250.0
2  H4PA13124    NY       6302011.0            250.0
3  H4PA13124    PA       6242011.0            250.0
4  H4PA13124    PA       6242011.0            250.0

In [5]:
df['transaction_amt'] = df['transaction_amt'].astype('int')
df['cand_id'] = df['cand_id'].astype('str')
df['state'] = df['state'].astype('str')
df['transaction_dt'] = df['transaction_dt'].astype('str')

In [6]:
df['transaction_dt'] = df['transaction_dt'].str[3:7]
df.head()

     cand_id state transaction_dt  transaction_amt
0  H4PA13124    PA           2011              250
1  H4PA13124    NY           2011              250
2  H4PA13124    NY           2011              250
3  H4PA13124    PA           2011              250
4  H4PA13124    PA           2011              250

In [7]:
df.loc[df['transaction_dt'] == '2013', 'transaction_dt'] = '2014'
df.head()

     cand_id state transaction_dt  transaction_amt
0  H4PA13124    PA           2011              250
1  H4PA13124    NY           2011              250
2  H4PA13124    NY           2011              250
3  H4PA13124    PA           2011              250
4  H4PA13124    PA           2011              250

In [8]:
df = df[(df.transaction_dt == "2014")]
df = df[df['transaction_amt']> 0]
df.head()

          cand_id state transaction_dt  transaction_amt
991273  H0NY25078    NY           2014             1000
991274  H0NY25078    NY           2014             1000
991275  H0NY25078    NY           2014             1000
991276  H0NY25078    NY           2014             1000
991277  H0NY25078    NY           2014             1000

In [9]:
df.to_csv('donationsclean.csv', sep = ',', index = False)

### Format data for map of donor's states, normalized by number of seats in that race

-   Label each transaction by the state of the individual donation
-   Sum each donation from each state to get the total amount spend by individual donors from that state
-   Normalize donation amounts by the number of congressional races in each state

In [10]:
df = df.drop("cand_id", axis = 1)
df = df.drop("transaction_dt", axis = 1)
df.head()

       state  transaction_amt
991273    NY             1000
991274    NY             1000
991275    NY             1000
991276    NY             1000
991277    NY             1000

In [11]:
dfgroup = df.groupby(['state']).transaction_amt.sum()
dfgroup.head()

state
AE       1000
AK     443337
AL    5546813
AP       1000
AR    8297672
Name: transaction_amt, dtype: int32

In [12]:
dfgroup.to_csv("DonationsByDonorState.csv", sep = ',', header = False)

In [13]:
dfgroup = pd.read_csv("DonationsByDonorState.csv")
dfgroup.head()

   AE     1000
0  AK   443337
1  AL  5546813
2  AP     1000
3  AR  8297672
4  AS    13200

In [14]:
dfgroup.columns = ['state', 'donations']
dfgroup.head()

  state  donations
0    AK     443337
1    AL    5546813
2    AP       1000
3    AR    8297672
4    AS      13200

In [15]:
dfstates = pd.read_csv('HouseRepState.csv')
dfstates.head()

       ﻿State  Number of House Seats from 2010 State Abbreviation
0     Alabama                                7                 AL
1      Alaska                                1                 AK
2     Arizona                                9                 AZ
3    Arkansas                                4                 AR
4  California                               53                 CA

In [16]:
dfstates.columns = ['state name', 'number of seats', 'state']

In [17]:
df_donor_state = dfgroup.merge(dfstates,on='state')
df_donor_state.head()

  state  donations  state name  number of seats
0    AK     443337      Alaska                1
1    AL    5546813     Alabama                7
2    AR    8297672    Arkansas                4
3    AZ   16668298     Arizona                9
4    CA   85535735  California               53

In [18]:
df_donor_state.count()

state              50
donations          50
state name         50
number of seats    50
dtype: int64

In [19]:
df_donor_state = df_donor_state.drop("state name", axis = 1)
df_donor_state.head()

  state  donations  number of seats
0    AK     443337                1
1    AL    5546813                7
2    AR    8297672                4
3    AZ   16668298                9
4    CA   85535735               53

In [20]:
df_donor_state.columns = ['state', 'donations', 'numberofseats']

In [21]:
df_donor_state["normalized"] = df_donor_state.donations/df_donor_state.numberofseats
df_donor_state.head()

  state  donations  numberofseats    normalized
0    AK     443337              1  4.433370e+05
1    AL    5546813              7  7.924019e+05
2    AR    8297672              4  2.074418e+06
3    AZ   16668298              9  1.852033e+06
4    CA   85535735             53  1.613882e+06

In [22]:
df_donor_state = df_donor_state.drop("numberofseats", axis = 1)
df_donor_state = df_donor_state.drop("donations", axis = 1)
df_donor_state.head()

  state    normalized
0    AK  4.433370e+05
1    AL  7.924019e+05
2    AR  2.074418e+06
3    AZ  1.852033e+06
4    CA  1.613882e+06

In [23]:
df_donor_state.to_csv("DonationsByDonorStateFinal.csv", sep = ",", index = False)

### Format data for map average amount of money spent for each race, in each state

-   Label the cand_id with the state they are running for election in
-   Group all states together to get the amount spent (by individual donors) in each state
-   Normalize amount of donations for the number of races in each state

In [24]:
df = pd.read_csv("donationsclean.csv")
df.head()

     cand_id state  transaction_dt  transaction_amt
0  H0NY25078    NY            2014             1000
1  H0NY25078    NY            2014             1000
2  H0NY25078    NY            2014             1000
3  H0NY25078    NY            2014             1000
4  H0NY25078    NY            2014             1000

In [25]:
df['cand_id'] = df['cand_id'].str[2:4]
df.head()

  cand_id state  transaction_dt  transaction_amt
0      NY    NY            2014             1000
1      NY    NY            2014             1000
2      NY    NY            2014             1000
3      NY    NY            2014             1000
4      NY    NY            2014             1000

In [26]:
df = df.drop("state", axis = 1)

In [27]:
df.to_csv("DonationsByRaceState.csv", sep = ',', index = False)

In [28]:
df.head()

  cand_id  transaction_dt  transaction_amt
0      NY            2014             1000
1      NY            2014             1000
2      NY            2014             1000
3      NY            2014             1000
4      NY            2014             1000

In [29]:
df = df.drop("transaction_dt", axis = 1)

In [30]:
dfgroup = df.groupby(['cand_id']).transaction_amt.sum()
dfgroup.head()

cand_id
AK      733248
AL     4935335
AR    17697844
AZ    20393553
CA    77747745
Name: transaction_amt, dtype: int64

In [31]:
dfgroup.to_csv("DonationsByRaceState.csv", sep = ',', header = False)

In [32]:
dfgroup = pd.read_csv("DonationsByRaceState.csv", header = None)
dfgroup.head()

    0         1
0  AK    733248
1  AL   4935335
2  AR  17697844
3  AZ  20393553
4  CA  77747745

In [33]:
dfgroup.columns = ['state', 'donations']

In [34]:
dfstates = pd.read_csv('HouseRepState.csv')

In [35]:
dfstates.columns = ['state name', 'numberofseats', 'state']

In [36]:
df_race_state = dfgroup.merge(dfstates,on='state')
df_race_state.head()

  state  donations  state name  numberofseats
0    AK     733248      Alaska              1
1    AL    4935335     Alabama              7
2    AR   17697844    Arkansas              4
3    AZ   20393553     Arizona              9
4    CA   77747745  California             53

In [37]:
df_race_state["normalized"] = df_race_state.donations/df_race_state.numberofseats
df_race_state.head()

  state  donations  state name  numberofseats    normalized
0    AK     733248      Alaska              1  7.332480e+05
1    AL    4935335     Alabama              7  7.050479e+05
2    AR   17697844    Arkansas              4  4.424461e+06
3    AZ   20393553     Arizona              9  2.265950e+06
4    CA   77747745  California             53  1.466939e+06

In [38]:
df_race_state = df_race_state.drop("numberofseats", axis = 1)
df_race_state = df_race_state.drop("donations", axis = 1)
df_race_state = df_race_state.drop("state name", axis = 1)

In [39]:
df_race_state.to_csv("DonationsByRaceStateFinal.csv", sep = ',', index = False)

## Generating the Chloropleths

We want two chloropleths that show the following information:
-	Average amount spent per race for each state
-	Average amount spent per residents of each state


Code is adapted from here: https://plot.ly/pandas/choropleth-maps/

In [40]:
dfdonor = pd.read_csv("DonationsByDonorStateFinal.csv")
dfdonor.head()

  state    normalized
0    AK  4.433370e+05
1    AL  7.924019e+05
2    AR  2.074418e+06
3    AZ  1.852033e+06
4    CA  1.613882e+06

In [41]:
init_notebook_mode(connected=True)

In [46]:
for col in dfdonor.columns:
    dfdonor[col] = dfdonor[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]


dfdonor['text'] = dfdonor['state'] + '<br>' +\
    'Amount Donated '+dfdonor['normalized']

    
    
data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = dfdonor['state'],
        z = dfdonor['normalized'].astype(float),
        locationmode = 'USA-states',
        text = dfdonor['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Dollars Donated")
        ) ]

layout = dict(
        title = 'Average Amount Spent Per State (of Donors) in 2014 Congressional Representatives Elections (Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
iplot(fig)

In [43]:
df_state = pd.read_csv("DonationsByRaceStateFinal.csv")
df_state.head()

  state    normalized
0    AK  7.332480e+05
1    AL  7.050479e+05
2    AR  4.424461e+06
3    AZ  2.265950e+06
4    CA  1.466939e+06

In [44]:
for col in df_state.columns:
    df_state[col] = df_state[col].astype(str)

scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]


df_state['text'] = df_state['state'] + '<br>' +\
    'Amount Donated '+df_state['normalized']

    
    
data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df_state['state'],
        z = df_state['normalized'].astype(float),
        locationmode = 'USA-states',
        text = df_state['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Dollars Donated")
        ) ]

layout = dict(
        title = 'Average Amount Spent Per Race For Each State in 2014 Congressional Representatives Elections (Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
iplot(fig)